
@{
    ViewBag.Title = "Contact Us";
   
}

<section class="mt-5">
    <center>
        <div class="mt-3 p-5 bg-secondary text-white rounded">
            <h1>Welcome to Contact Us Page</h1>
            <p>This is the contact us page of our application. You can navigate to different sections using the buttons above.</p>
            <p>Feel free to explore and learn more about us!</p>


        </div>
    </center>
</section>
